@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.footerH{
    max-height: 100%;
    margin-bottom: auto;
   margin-top: 20px;
}
html {
    background-color: #fff;
    margin:0px;
}

body {
    padding: 0px;
    margin:0px;
}